<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    {{> styles}}
</head>
<body>
    {{> nav}}
    <main class="col-md-10 mx-auto">
        {{> form action=action emp=emp}}
    </main>
</body>
<script type = "text/javascript">
    debugger;
    let option = document.querySelector("option[value='{{emp.Department}}']");
    option.selected = true
</script>
</html>