<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=w, initial-scale=1.0">
    <title>Index</title>
    {{> styles}}
</head>

<body>
    {{> nav}}
    <main class="col-md-10 mx-auto">
    {{> form action="add" emp=employee}}
</main>

</body>

</html>