<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="/public/main.css" type="text/css">
    <style>
        .still, .rotate, .shrink {
    color: red;
    display: inline-block;
    font-size: 60px;
    padding: 1rem;
    text-shadow: 1px 1px 2px black; 
   }
   
   .rotate {
    animation: rotate 1s infinite ease;
   }
   
   .shrink {
    animation: shrink 1s infinite ease;
   }
   
   @keyframes rotate { 
    0% { 
    transform: rotateZ(-30deg);
    }
    50% {
    transform: rotateZ(30deg);
    }
    100% {
    transform: rotateZ(0);
    }
   }
   
   @keyframes shrink { 
    0% { 
    transform: scale(0.8);
    }
    50% {
    transform: scale(1.2);
    }
    100% {
    transform: scale(1);
    }
   }
    </style>
</head>
<body>
     <main class="container-fluid mt-1 mx-auto col-md-6">
       <h1>AAAAAAAA</h1>
       {{notfound}}
     </main>
    
</body>
</html>