<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>

</head>

<body>
    {{>nav}}
    <main class="container-fluid mt-1 mx-auto col-md-6">
        <img src="static/image.jpeg" class="col-md-12">
        <p class="col-md-12" Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Habitant morbi tristique senectus et netus et malesuada fames ac. Diam
            phasellus vestibulum lorem sed risus ultricies tristique. Tortor id aliquet lectus proin nibh nisl
            condimentum. Eget aliquet nibh praesent tristique magna sit amet purus gravida. Auctor augue mauris augue
            neque gravida in fermentum et. In est ante in nibh mauris cursus. Nunc id cursus metus aliquam eleifend mi
            in. Nec sagittis aliquam malesuada bibendum arcu vitae elementum curabitur. Sit amet facilisis magna etiam
            tempor orci. Dictum sit amet justo donec enim. Egestas egestas fringilla phasellus faucibus. Habitasse
            platea dictumst quisque sagittis. Ullamcorper dignissim cras tincidunt lobortis feugiat vivamus. Dui vivamus
            arcu felis bibendum ut tristique et egestas. Tincidunt vitae semper quis lectus nulla at. Odio ut enim
            blandit volutpat maecenas volutpat. Pretium viverra suspendisse potenti nullam ac tortor. A lacus vestibulum
            sed arcu non odio euismod lacinia at.></p>
        <p class="col-md-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Habitant morbi tristique senectus et netus et malesuada fames ac. Diam
            phasellus vestibulum lorem sed risus ultricies tristique. Tortor id aliquet lectus proin nibh nisl
            condimentum. Eget aliquet nibh praesent tristique magna sit amet purus gravida. Auctor augue mauris augue
            neque gravida in fermentum et. In est ante in nibh mauris cursus. Nunc id cursus metus aliquam eleifend mi
            in. Nec sagittis aliquam malesuada bibendum arcu vitae elementum curabitur. Sit amet facilisis magna etiam
            tempor orci. Dictum sit amet justo donec enim. Egestas egestas fringilla phasellus faucibus. Habitasse
            platea dictumst quisque sagittis. Ullamcorper dignissim cras tincidunt lobortis feugiat vivamus. Dui vivamus
            arcu felis bibendum ut tristique et egestas. Tincidunt vitae semper quis lectus nulla at. Odio ut enim
            blandit volutpat maecenas volutpat. Pretium viverra suspendisse potenti nullam ac tortor. A lacus vestibulum
            sed arcu non odio euismod lacinia at.</p>
    </main>
    {{>footer}}

</body>

</html>